unpackaged/main/default/flows/Account_Profile_Update_All_Opportunity_Count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Store_The_Records_From_Opp_closed_won</name>
        <label>Store The Records From Opp Closed Won</label>
        <locationX>808</locationX>
        <locationY>920</locationY>
        <assignmentItems>
            <assignToReference>ClosedWonrecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Collect_The_data_closed_won</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updated_The_Field_Account_Profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_The_Records_From_Opp_NotClosed_Won</name>
        <label>Store The Records From Opp  NotClosed Won</label>
        <locationX>961</locationX>
        <locationY>676</locationY>
        <assignmentItems>
            <assignToReference>Notclosedwon</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Collect_the_data_NotClosed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_The_data_closed_won</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_of_Amount</name>
        <label>Sum of Amount</label>
        <locationX>595</locationX>
        <locationY>773</locationY>
        <assignmentItems>
            <assignToReference>CurrentProjectValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunity_list.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_the_data_NotClosed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Of_Amount_closed_won</name>
        <label>Sum Of  Amount closed won</label>
        <locationX>1142</locationX>
        <locationY>1076</locationY>
        <assignmentItems>
            <assignToReference>CompetedProjectValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sum_of_Closed_Opportunity.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_The_data_closed_won</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Collect_The_data_closed_won</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Collect The data closed won</label>
        <locationX>1259</locationX>
        <locationY>700</locationY>
        <assignNextValueToReference>currentItem_Collect_The_data_closed_won_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_The_Records_from_Opp</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collect_The_data_closed_won_0.StageName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Closed Won</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Store_The_Records_From_Opp_closed_won</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Collect_the_data_NotClosed</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Collect the data NotClosed</label>
        <locationX>1086</locationX>
        <locationY>468</locationY>
        <assignNextValueToReference>currentItem_Collect_the_data_NotClosed_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_The_Records_from_Opp</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collect_the_data_NotClosed_0.StageName</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Closed Won</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Opportunity_list</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>calculatetheamount</name>
        <dataType>Currency</dataType>
        <expression>{!currentItem_Collect_The_data_closed_won_0.Amount}+{!currentItem_Collect_The_data_closed_won_0.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Account Profile Update  All Opportunity  Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Profile Update  All Opportunity  Count</label>
    <loops>
        <name>Opportunity_list</name>
        <label>Opportunity list</label>
        <locationX>540</locationX>
        <locationY>487</locationY>
        <collectionReference>Collect_the_data_NotClosed</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_of_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Store_The_Records_From_Opp_NotClosed_Won</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Sum_of_Closed_Opportunity</name>
        <label>Sum of Closed Opportunity</label>
        <locationX>1426</locationX>
        <locationY>834</locationY>
        <collectionReference>Collect_The_data_closed_won</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_Of_Amount_closed_won</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Store_The_Records_From_Opp_closed_won</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Records   which closed won / or not closed won</description>
        <name>Get_The_Records_from_Opp</name>
        <label>Get The Records from Opp</label>
        <locationX>840</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_the_data_NotClosed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ETSALES_Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Plan_From__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Plan_To__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updated_The_Field_Account_Profile</name>
        <label>updated The Field  Account Profile</label>
        <locationX>709</locationX>
        <locationY>1097</locationY>
        <inputAssignments>
            <field>Completed_Projects_Value__c</field>
            <value>
                <elementReference>CompetedProjectValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Projects_Value__c</field>
            <value>
                <elementReference>CurrentProjectValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Completed_Projects__c</field>
            <value>
                <elementReference>ClosedWonrecords</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Current_Projects__c</field>
            <value>
                <elementReference>Notclosedwon</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>714</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_The_Records_from_Opp</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Plan_From__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Plan_To__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Plan_From__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Plan_To__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ETSALES_Account_Profile__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>Here we store the all records which are closed</description>
        <name>ClosedWonrecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Here we store the all completed Project value or Amount</description>
        <name>CompetedProjectValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItem_Collect_The_data_closed_won_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_Collect_the_data_NotClosed_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>here we store  the all current project amount</description>
        <name>CurrentProjectValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Here we store the records which are not closed won</description>
        <name>Notclosedwon</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
