unpackaged/main/default/flows/Account_Profile_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_The_Amount_Closed_Won</name>
        <label>Add The Amount Closed Won</label>
        <locationX>264</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>SumOfClosedWonAmounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterating_All_Opp_Closed_Won.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_All_Opp_Closed_Won</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_the_Amount_of_Opp</name>
        <label>Add the Amount of Opp</label>
        <locationX>264</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>SumofAmountNotClosedWon</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterating_All_Opp_Not_Closed_Won.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_All_Opp_Not_Closed_Won</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>here we count the all Opportunity  and Case records which is in between plan from /plan to</description>
        <name>Count_The_Opportunity_and_Case_Complaints</name>
        <label>Count The Opportunity and Case Complaints</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>CountClosedWon</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Fetch_Records_Of_Opp_Closed_Won</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountOfNotClosedWon</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Fetch_The_Records_Of_Opp_Not_closed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalComplaints</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Fetch_The_Total_Complaints</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfOpenComplaints</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Fetch_The_No_Of_Complaints</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_All_Opp_Not_Closed_Won</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Account Profile Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Profile Update Flow</label>
    <loops>
        <name>Iterating_All_Opp_Closed_Won</name>
        <label>Iterating All Opp Closed Won</label>
        <locationX>176</locationX>
        <locationY>1271</locationY>
        <collectionReference>Fetch_Records_Of_Opp_Closed_Won</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_The_Amount_Closed_Won</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_records_On_Account_Profile</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterating_All_Opp_Not_Closed_Won</name>
        <label>Iterating All Opp Not Closed Won</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <collectionReference>Fetch_The_Records_Of_Opp_Not_closed</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_the_Amount_of_Opp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterating_All_Opp_Closed_Won</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Here we get Records which are closed on stage name</description>
        <name>Fetch_Records_Of_Opp_Closed_Won</name>
        <label>Fetch Records Of Opp Closed Won</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_The_Records_Of_Opp_Not_closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ETSALES_Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Plan_From__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Plan_To__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_The_No_Of_Complaints</name>
        <label>Fetch The No Of Complaints</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_The_Opportunity_and_Case_Complaints</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ETSALES_Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Plan_From__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Plan_To__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>here get the records which are not closed</description>
        <name>Fetch_The_Records_Of_Opp_Not_closed</name>
        <label>Fetch The Records Of Opp  Not closed</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_The_Total_Complaints</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ETSALES_Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Plan_From__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Plan_To__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_The_Total_Complaints</name>
        <label>Fetch The Total Complaints</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_The_No_Of_Complaints</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ETSALES_Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Plan_From__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Plan_To__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_records_On_Account_Profile</name>
        <label>Update All records On Account Profile</label>
        <locationX>176</locationX>
        <locationY>1607</locationY>
        <inputAssignments>
            <field>Completed_Projects_Value__c</field>
            <value>
                <elementReference>SumOfClosedWonAmounts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Projects_Value__c</field>
            <value>
                <elementReference>SumofAmountNotClosedWon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Completed_Projects__c</field>
            <value>
                <elementReference>CountClosedWon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Current_Projects__c</field>
            <value>
                <elementReference>CountOfNotClosedWon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Open_Complaints__c</field>
            <value>
                <elementReference>NoOfOpenComplaints</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Complaints__c</field>
            <value>
                <elementReference>TotalComplaints</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Records_Of_Opp_Closed_Won</targetReference>
        </connector>
        <filterFormula>ISNEW()||ISCHANGED({!$Record.Plan_From__c})||ISCHANGED({!$Record.Plan_To__c})</filterFormula>
        <object>ETSALES_Account_Profile__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountClosedWon</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountOfNotClosedWon</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountTheClosedOpp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountTheClosedWon</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountTheOpportunityClosedOn</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NoOfOpenComplaints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SumofAmountNotClosedWon</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SumOfClosedWonAmounts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalComplaints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
