unpackaged/main/default/flows/Contract_button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Contract button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Create_Contract_Line</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Quote.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Name__c</field>
            <value>
                <elementReference>Get_Quote.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Number__c</field>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Total_Investment__c</field>
            <value>
                <elementReference>Get_Quote.Quote_Total_Investment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Vehicles__c</field>
            <value>
                <elementReference>Get_Quote.Total_Number_of_Vehicles__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contract_Line</name>
        <label>Create Contract Line</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>display</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Create_Contract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Number__c</field>
            <value>
                <elementReference>Get_Quote_Line.ET_Line_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Vehicles__c</field>
            <value>
                <elementReference>Get_Quote_Line.ET_Number_of_Vehicles__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricing_Type__c</field>
            <value>
                <elementReference>Get_Quote_Line.ET_Pricing_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Quote_Item__c</field>
            <value>
                <elementReference>Get_Quote_Line.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contract_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line</name>
        <label>Get Quote Line</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ET_Vehicle_Quote_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>display</name>
        <label>display</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Contract and Contract line are created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
