unpackaged/main/default/flows/Dispute_Reason_updating_v1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Manger_owner</name>
        <label>Copy 1 of Manger owner</label>
        <locationX>2426</locationX>
        <locationY>803</locationY>
        <actionName>Case.Dispute_Case_escalation_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Dispute_Case_escalation_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Manger_owner</name>
        <label>Copy 2 of Manger owner</label>
        <locationX>2690</locationX>
        <locationY>803</locationY>
        <actionName>Case.Dispute_Case_escalation_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Dispute_Case_escalation_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Fire_user_send_email</name>
        <label>Fire user send email</label>
        <locationX>842</locationX>
        <locationY>803</locationY>
        <actionName>Case.Dispute_Case_escalation_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Dispute_Case_escalation_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Invoicing_Team_send_email</name>
        <label>Invoicing Team send email</label>
        <locationX>578</locationX>
        <locationY>803</locationY>
        <actionName>Case.Dispute_Case_escalation_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Dispute_Case_escalation_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>KPI_user_send_email</name>
        <label>KPI user send email</label>
        <locationX>1106</locationX>
        <locationY>803</locationY>
        <actionName>Case.Dispute_Case_escalation_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Dispute_Case_escalation_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Manger_owner</name>
        <label>Manger owner</label>
        <locationX>2162</locationX>
        <locationY>911</locationY>
        <actionName>Case.Dispute_Case_escalation_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Dispute_Case_escalation_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Other_Emirates_Pick_up_Fine_user_send_email</name>
        <label>Other Emirates Pick-up Fine user send email</label>
        <locationX>1634</locationX>
        <locationY>803</locationY>
        <actionName>Case.Dispute_Case_escalation_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Dispute_Case_escalation_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Records_Collection_team_send_email</name>
        <label>Records Collection team send email</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <actionName>Case.Dispute_Case_escalation_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Dispute_Case_escalation_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>send_email_alert</name>
        <label>send email alert</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <actionName>Case.Dispute_Case_escalation_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Dispute_Case_escalation_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sending_netting_request_owner_email</name>
        <label>sending netting request owner email</label>
        <locationX>2954</locationX>
        <locationY>803</locationY>
        <actionName>Case.Dispute_Case_escalation_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Dispute_Case_escalation_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>user_Late_Payment_of_Traffic_Fine_send_email</name>
        <label>user Late Payment of Traffic Fine  send email</label>
        <locationX>1370</locationX>
        <locationY>803</locationY>
        <actionName>Case.Dispute_Case_escalation_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Dispute_Case_escalation_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Vehicle_Registration_Expired_user_send_email</name>
        <label>Vehicle Registration Expired user send email</label>
        <locationX>1898</locationX>
        <locationY>803</locationY>
        <actionName>Case.Dispute_Case_escalation_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Dispute_Case_escalation_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_fire</name>
        <label>Assign fire</label>
        <locationX>842</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Fire_user.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Fire_user</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_owner_invoicing</name>
        <label>Assign owner invoicing</label>
        <locationX>578</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoicing_Team.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>invoicing_Team_owners_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_MRO</name>
        <label>Assign User MRO</label>
        <locationX>2690</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getting_users.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updating_owners_Account_management_MRO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_School</name>
        <label>Assign User School</label>
        <locationX>2426</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getting_users.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updating_owners_Account_managementSchool</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assing</name>
        <label>assing</label>
        <locationX>2162</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getting_users.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Management_Team_TL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assing_KPI</name>
        <label>assing KPI</label>
        <locationX>1106</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_KPI_user.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updating_kpi_users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assing_late_payment</name>
        <label>assing late payment</label>
        <locationX>1370</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>user_Late_Payment_of_Traffic_Fine.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updae_late_payemnt_owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assing_netting_values</name>
        <label>assing netting values</label>
        <locationX>2954</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Netting_request_get.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updating_owners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assing_other_emirates_Pick_up_fine_user</name>
        <label>assing  other emirates Pick-up fine user</label>
        <locationX>1634</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Emirates_Pick_up_Fine_user.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updating_user</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_owner</name>
        <label>Assing owner</label>
        <locationX>50</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Getting_owners.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Owner_for_Collections_Team</name>
        <label>Assing Owner for Collections Team</label>
        <locationX>314</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records_Collection_team.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_collection_owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assing_user_Vehicle_Registration</name>
        <label>assing user Vehicle Registration</label>
        <locationX>1898</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vehicle_Registration_Expired_user.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case_owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_check</name>
        <label>Decision check</label>
        <locationX>1634</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>when_Dispute_Reason</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delay in Vehicle Delivery (T&amp;L)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchase Order (P.O.) Fully Utilized (T&amp;L)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Issue (T&amp;L)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Not Provided (T&amp;L)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Driver Missed Stop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement Not Provided</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tires Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vehicle not as per Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warning Stickers Not Available</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_owners</targetReference>
            </connector>
            <label>when Dispute Reason</label>
        </rules>
        <rules>
            <name>For_Collections_Team</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Random Closing of Invoices</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiver Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_Collection_team</targetReference>
            </connector>
            <label>For Collections Team</label>
        </rules>
        <rules>
            <name>for_Invoicing_Team</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document Not Attached to Invoice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Amount Mismatch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Not Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late Submission of Traffic Fine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoicing_Team</targetReference>
            </connector>
            <label>for Invoicing Team</label>
        </rules>
        <rules>
            <name>for_Fire_Extinguisher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fire Extinguisher</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Fire_user</targetReference>
            </connector>
            <label>for Fire Extinguisher</label>
        </rules>
        <rules>
            <name>for_KPI_Penalties</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KPI Penalties</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_KPI_user</targetReference>
            </connector>
            <label>for KPI Penalties</label>
        </rules>
        <rules>
            <name>Late_Payment_of_Traffic_Fine</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late Payment of Traffic Fine</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permits Fine</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wrong Traffic Fine</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salik Fine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>user_Late_Payment_of_Traffic_Fine</targetReference>
            </connector>
            <label>Late Payment of Traffic Fine</label>
        </rules>
        <rules>
            <name>Other_Emirates_Pick_up_Fine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other Emirates Pick-up Fine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Emirates_Pick_up_Fine_user</targetReference>
            </connector>
            <label>Other Emirates Pick-up Fine</label>
        </rules>
        <rules>
            <name>Vehicle_Registration_Expired</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vehicle Registration Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insurance Issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_Registration_Expired_user</targetReference>
            </connector>
            <label>Vehicle Registration Expired</label>
        </rules>
        <rules>
            <name>Account_Management_TL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addendum Not Signed (T&amp;L)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Not Signed (T&amp;L)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fuel Increase Dispute (T&amp;L)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Government New Rule (T&amp;L)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Routes Request (T&amp;L)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Service Request (T&amp;L)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Purchase Order (P.O.) (T&amp;L)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending LPO &amp; GRN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getting_users</targetReference>
            </connector>
            <label>Account Management T&amp;L</label>
        </rules>
        <rules>
            <name>Account_Management_School</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addendum Not Signed (School Transport)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Not Signed (School Transport)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delay in Vehicle Delivery (School Transport)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fuel Increase Dispute (School Transport)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Government New Rule (School Transport)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Routes Request (School Transport)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Service Request (School Transport)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Purchase Order (P.O.) (School Transport)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchase Order (P.O.) Fully Utilized (School Transport)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Issue (School Transport)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Not Provided (School Transport)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending LPO &amp; GRN (School Transport)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending LPO &amp; GRN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Management_Team_School</targetReference>
            </connector>
            <label>Account Management School</label>
        </rules>
        <rules>
            <name>Account_Management_MRO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addendum Not Signed (MRO)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Not Signed (MRO)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delay in Vehicle Delivery (MRO)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Service Request (MRO)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Purchase Order (P.O.) (MRO)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchase Order (P.O.) Fully Utilized (MRO)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Issue (MRO)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Not Provided (MRO)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending LPO &amp; GRN (MRO)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job Quotation Not Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending LPO &amp; GRN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Management_Team_MRO</targetReference>
            </connector>
            <label>Account Management MRO</label>
        </rules>
        <rules>
            <name>Netting_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Netting Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Netting_request_get</targetReference>
            </connector>
            <label>Netting Request</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Dispute Reason updating v1` {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dispute Reason updating v1`</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Management_Team_MRO</name>
        <label>Get Account Management Team MRO</label>
        <locationX>2690</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_MRO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account_Management_Team_MRO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Management_Team_School</name>
        <label>Get Account Management Team School</label>
        <locationX>2426</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_School</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account_Management_Team_School_Transpor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Management_Team_TL</name>
        <label>Account Management Team TL</label>
        <locationX>2162</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updating_owners_Account_management</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account_Management_Team_T_L</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Fire_user</name>
        <label>get Fire user</label>
        <locationX>842</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_fire</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Elbaraa.Mohamed@et.ae</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_KPI_user</name>
        <label>get KPI user</label>
        <locationX>1106</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assing_KPI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>santosh.kumar@smaartt.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Collection_team</name>
        <label>Get Records Collection team</label>
        <locationX>314</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assing_Owner_for_Collections_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collections_Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_owners</name>
        <label>Getting owners</label>
        <locationX>50</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assing_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Operations_T_L</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getting_users</name>
        <label>getting users</label>
        <locationX>2162</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Dispute_Account_Manager__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Invoicing_Team</name>
        <label>Invoicing Team</label>
        <locationX>578</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_owner_invoicing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoicing_Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Netting_request_get</name>
        <label>Netting request get</label>
        <locationX>2954</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assing_netting_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Netting_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Other_Emirates_Pick_up_Fine_user</name>
        <label>Other Emirates Pick-up Fine user</label>
        <locationX>1634</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assing_other_emirates_Pick_up_fine_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>rameez.AA@et.ae</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>user_Late_Payment_of_Traffic_Fine</name>
        <label>user Late Payment of Traffic Fine</label>
        <locationX>1370</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assing_late_payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>jomy.OF@et.ae</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Vehicle_Registration_Expired_user</name>
        <label>Vehicle Registration Expired user</label>
        <locationX>1898</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assing_user_Vehicle_Registration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Khuluod.Alzarooni@et.ae</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>invoicing_Team_owners_update</name>
        <label>invoicing Team owners update</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Invoicing_Team_send_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Invoicing Team</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>caseOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updae_late_payemnt_owner</name>
        <label>updae late payemnt owner</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>user_Late_Payment_of_Traffic_Fine_send_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Operations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>caseOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>send_email_alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Operations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>caseOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_case_owner</name>
        <label>update case owner</label>
        <locationX>1898</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Vehicle_Registration_Expired_user_send_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Operations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>caseOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_collection_owner</name>
        <label>update collection owner</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Records_Collection_team_send_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Collections</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>caseOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Fire_user</name>
        <label>update Fire user</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Fire_user_send_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>QHSE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>caseOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updating_kpi_users</name>
        <label>updating kpi users</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>KPI_user_send_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Operations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>caseOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updating_owners</name>
        <label>updating owners</label>
        <locationX>2954</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>sending_netting_request_owner_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Accounts Payable Team</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>caseOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updating_owners_Account_management</name>
        <label>updating owners Account management</label>
        <locationX>2162</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>Manger_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Account Management Team (T&amp;L)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.Dispute_Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updating_owners_Account_management_MRO</name>
        <label>updating owners Account management MRO</label>
        <locationX>2690</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Copy_2_of_Manger_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Account Management Team (MRO)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.Dispute_Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updating_owners_Account_managementSchool</name>
        <label>updating owners Account management School</label>
        <locationX>2426</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Copy_1_of_Manger_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Account Management Team (School Transport)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.Dispute_Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updating_user</name>
        <label>updating user</label>
        <locationX>1634</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Other_Emirates_Pick_up_Fine_user_send_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Operations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>caseOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>1508</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Decision_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>caseOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
