unpackaged/main/default/flows/ETI_update_Inspection_Check_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Based on Work order status - do the operation.</description>
        <name>Check_work_order_Status</name>
        <label>Check work order Status</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Inspection_completion_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Dispatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentworkorder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Siren</targetReference>
            </connector>
            <label>Status = Dispatched</label>
        </rules>
        <rules>
            <name>Status_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentworkorder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scheduled_Status1</targetReference>
            </connector>
            <label>Status = Scheduled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>update Inspection Check List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update Inspection Check List</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <description>Get Current Work Order details and check if inspection completed or Not</description>
        <name>ETI_Get_Current_Work_Order_details</name>
        <label>Get Current Work Order details</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_work_order_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>currentworkorder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>MNVR_Serial_No__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_work_order</name>
        <label>update work order</label>
        <locationX>50</locationX>
        <locationY>2078</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BS11_Camera_Tampering__c</field>
            <value>
                <elementReference>BS11_Camera_Tampering</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BS12_Storage_HDD_full_Video_loss__c</field>
            <value>
                <elementReference>BS12_Storage_HDD_full_Video_loss</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BS13_Video_Live_streaming__c</field>
            <value>
                <elementReference>BS13_Video_Live_streaming</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_3Pcs_Int_Ip_Camera_quetion1__c</field>
            <value>
                <elementReference>INT1_X3_cameras_available_and_installed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_3Pcs_Int_Ip_Camera_quetion2__c</field>
            <value>
                <elementReference>INT2_Ensure_its_properly_and_firmly_in_place</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_3Pcs_Int_Ip_Camera_quetion3__c</field>
            <value>
                <elementReference>INT3_Siren_cameras_working_by_covering_each_camera_separately</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_3Pcs_Int_Ip_Camera_quetion4__c</field>
            <value>
                <elementReference>INT4_After_Internal_Siren_stops_then_internal_cameras_work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_4Pcs_Ext_Ip_Camera_quetion1__c</field>
            <value>
                <elementReference>EXT1_Make_sure_4_cameras_are_available_installed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_4Pcs_Ext_Ip_Camera_quetion2__c</field>
            <value>
                <elementReference>EXT2_Properly_and_firmly_in_the_right_place</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_4Pcs_Ext_Ip_Camera_quetion3__c</field>
            <value>
                <elementReference>EXT3_camera_images_appear_on_the_home_screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_4Pcs_Ext_Ip_Camera_quetion4__c</field>
            <value>
                <elementReference>EXT4_Make_sure_visibility_of_the_four_cameras_are_to_angles_of_view_assigned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_4Pcs_Ext_Ip_Camera_quetion5__c</field>
            <value>
                <elementReference>EXT5_Reverse_camera_showing_back_of_bus_if_bus_in_reverse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_CCB_quetion1__c</field>
            <value>
                <elementReference>CCB1_Make_sure_the_device_is_installed_and_in_place</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_CCB_quetion2__c</field>
            <value>
                <elementReference>CCB2_Turn_off_the_engine_Internal_Siren_will_work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_CCB_quetion3__c</field>
            <value>
                <elementReference>CCB3_Reach_end_of_the_bus_and_press_the_Child_Check_Button</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_CCB_quetion4__c</field>
            <value>
                <elementReference>CCB4_The_child_check_button_is_directly_linked_with_motion_detector_button</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_CDS_quetion1__c</field>
            <value>
                <elementReference>CDS1_Device_available_2_in_SBL_SBM_1_in_SBS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_CDS_quetion2__c</field>
            <value>
                <elementReference>CDS2_Internal_siren_working_when_Engine_Off</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_CDS_quetion3__c</field>
            <value>
                <elementReference>CDS3_Motion_sensor_is_active_if_child_check_button_Pressed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_CDS_quetion4__c</field>
            <value>
                <elementReference>CDS4_Be_on_the_bus_for_3_mins_without_movement_then_move</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_CDS_quetion5__c</field>
            <value>
                <elementReference>CDS5_Device_is_active_by_movement_small_red_lights</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_CDS_quetion6__c</field>
            <value>
                <elementReference>CDS6_Internal_and_the_external_siren_operating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_CDS_quetion7__c</field>
            <value>
                <elementReference>CDS7_Turn_the_engine_on_sensor_should_be_Off</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_CDS_quetion8__c</field>
            <value>
                <elementReference>CDS8_Engine_Off_all_devices_remain_active_Sleeping_Mode_for_15_minutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_Electronic_dest_board_quetion1__c</field>
            <value>
                <elementReference>EDB1_Electric_board_is_available</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_Electronic_dest_board_quetion2__c</field>
            <value>
                <elementReference>EDB2_Board_is_in_correct_place_on_top_front_inside_the_bus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_Electronic_dest_board_quetion3__c</field>
            <value>
                <elementReference>EDB3_Electronic_board_is_working_and_lighting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_Inspection_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_Internal_Siren_quetion1__c</field>
            <value>
                <elementReference>ISiren1_Make_sure_the_device_available_installed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_Internal_Siren_quetion2__c</field>
            <value>
                <elementReference>ISiren2_Ensure_that_it_s_properly_and_firmly_in_place</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_Internal_Siren_quetion3__c</field>
            <value>
                <elementReference>ISiren3_Device_alarm_light_sound_working_in_all_cameras</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_Internal_Siren_quetion4__c</field>
            <value>
                <elementReference>ISiren4_Alarm_light_sound_working_if_emergency_button_Pressed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_Internal_Siren_quetion5__c</field>
            <value>
                <elementReference>ISiren5_Alarm_light_sound_working_if_engine_Off_directly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_Internal_Siren_quetion6__c</field>
            <value>
                <elementReference>ISiren6_Alarm_light_sound_working_if_motion_detector_active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_LM7_quetion1__c</field>
            <value>
                <elementReference>LCD1_Monitor_is_available_and_installed_on_the_bus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_LM7_quetion2__c</field>
            <value>
                <elementReference>LCD2_Placed_in_front_of_driver_on_the_front_plate_of_bus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_LM7_quetion3__c</field>
            <value>
                <elementReference>LCD3_external_cameras_appear_on_main_screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_LM7_quetion4__c</field>
            <value>
                <elementReference>LCD4_Select_show_mode_of_3_internal_cameras_on_main_screen_check_live_video</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_LM7_quetion5__c</field>
            <value>
                <elementReference>LCD5_Reverse_bus_full_screen_appears_showing_backward_camera_BEEB_Sound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_MDVR_HDD_2TB_quetion1__c</field>
            <value>
                <elementReference>MDVR1_Device_available_and_installed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_MDVR_HDD_2TB_quetion2__c</field>
            <value>
                <elementReference>MDVR2_Installed_in_large_bus_behind_the_driver_s_seat_above_luggage_carrier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_MDVR_HDD_2TB_quetion4__c</field>
            <value>
                <elementReference>MDVR4_Device_Lights_1_2_on_top_in_red_6_7_8_in_blue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_MDVR_HDD_2TB_quetion5__c</field>
            <value>
                <elementReference>MDVR5_Can_Store_at_least_180_Days_and_storage_size_2_TB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_MDVR_firmware_Version_quetion1__c</field>
            <value>
                <elementReference>MDVRF1_Please_write_the_version_of_MDVR_Take_a_Photo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_PB_quetion1__c</field>
            <value>
                <elementReference>PB1_Make_sure_device_is_available_and_installed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_PB_quetion2__c</field>
            <value>
                <elementReference>PB2_Ensure_that_it_is_properly_and_firmly_in_place</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_PB_quetion3__c</field>
            <value>
                <elementReference>PB3_Device_works_by_having_4_buttons_on_the_device_lit_in_red</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_PB_quetion4__c</field>
            <value>
                <elementReference>PB4_Alarm_light_sound_through_the_internal_Siren</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_Stop_Arm_quetion1__c</field>
            <value>
                <elementReference>SA1_Stop_arm_is_installed_on_the_bus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_Stop_Arm_quetion2__c</field>
            <value>
                <elementReference>SA2_Stop_arm_working_manually_when_automatic_system_not_working</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_Stop_Arm_quetion3__c</field>
            <value>
                <elementReference>SA3_Stop_arm_working_during_opening_or_closing_door</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_Stop_Arm_quetion4__c</field>
            <value>
                <elementReference>SA4_Red_lights_in_front_and_behind_arm_turned_on_when_arm_open</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_Temp_Hum_Sensor_quetion1__c</field>
            <value>
                <elementReference>HS1_Device_is_available_installed_Out_of_reach_of_students_source_of_direct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_Temp_Hum_Sensor_quetion2__c</field>
            <value>
                <elementReference>HS2_Device_displays_temperature_humidity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_bs_quetion10__c</field>
            <value>
                <elementReference>BS10_Driver_Seatbelt_Alert</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_bs_quetion1__c</field>
            <value>
                <elementReference>BS1_GPS_location_of_the_bus_available_and_communication_duration_1_minute</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_bs_quetion2__c</field>
            <value>
                <elementReference>BS2_Status_of_bus_available_Stop_Move_Idle_In_Active_No_Communication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_bs_quetion3__c</field>
            <value>
                <elementReference>BS3_Overspeed_alert_for_Bus_Speed_limit_and_street_limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_bs_quetion4__c</field>
            <value>
                <elementReference>BS4_Harsh_break_alert</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_bs_quetion5__c</field>
            <value>
                <elementReference>BS5_Harsh_cornering_alert</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_bs_quetion6__c</field>
            <value>
                <elementReference>BS6_Panic_button_alert</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_bs_quetion7__c</field>
            <value>
                <elementReference>BS7_Motion_detector_alert</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_bs_quetion8__c</field>
            <value>
                <elementReference>BS8_Child_check_button_alert</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETI_bs_quetion9__c</field>
            <value>
                <elementReference>BS9_Door_open_alert</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MNVR_Serial_Number_is_Matched__c</field>
            <value>
                <elementReference>Is_MNVR_serial_number_matched</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>Child_Check_Button</name>
        <label>Child Check Button</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Panic_Button</targetReference>
        </connector>
        <fields>
            <name>ETI_Child_Check_Button</name>
            <fieldText>&lt;p&gt;Child Check Button&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CCB1_Make_sure_the_device_is_installed_and_in_place</name>
            <dataType>Boolean</dataType>
            <fieldText>Make sure the device is installed and in place</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CCB2_Turn_off_the_engine_Internal_Siren_will_work</name>
            <dataType>Boolean</dataType>
            <fieldText>Turn off the engine, Internal Siren will work</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CCB3_Reach_end_of_the_bus_and_press_the_Child_Check_Button</name>
            <dataType>Boolean</dataType>
            <fieldText>Reach end of the bus and press the (Child Check Button)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CCB4_The_child_check_button_is_directly_linked_with_motion_detector_button</name>
            <dataType>Boolean</dataType>
            <fieldText>The child check button is directly linked with motion detector button</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Electronic_Destination_Board</name>
        <label>Electronic Destination Board</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MDVR_Firmware_Version</targetReference>
        </connector>
        <fields>
            <name>ETI_Electronic_Destination_Board</name>
            <fieldText>&lt;p&gt;Electronic Destination Board&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EDB1_Electric_board_is_available</name>
            <dataType>Boolean</dataType>
            <fieldText>Electric board is available</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EDB2_Board_is_in_correct_place_on_top_front_inside_the_bus</name>
            <dataType>Boolean</dataType>
            <fieldText>Board is in correct place on top front inside the bus</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EDB3_Electronic_board_is_working_and_lighting</name>
            <dataType>Boolean</dataType>
            <fieldText>Electronic board is working and lighting</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ETI_Back_End_System</name>
        <label>Back End System</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Final_Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Back_end_system</name>
            <fieldText>&lt;p&gt;Back End System&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BS1_GPS_location_of_the_bus_available_and_communication_duration_1_minute</name>
            <dataType>Boolean</dataType>
            <fieldText>GPS location of the bus available and communication duration 1 minute</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BS2_Status_of_bus_available_Stop_Move_Idle_In_Active_No_Communication</name>
            <dataType>Boolean</dataType>
            <fieldText>Status of bus available (On/Off, Stop, Move, Idle, In Active, No Communication)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BS3_Overspeed_alert_for_Bus_Speed_limit_and_street_limit</name>
            <dataType>Boolean</dataType>
            <fieldText>Overspeed alert for Bus Speed limit and street limit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BS4_Harsh_break_alert</name>
            <dataType>Boolean</dataType>
            <fieldText>Harsh break alert</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BS5_Harsh_cornering_alert</name>
            <dataType>Boolean</dataType>
            <fieldText>Harsh cornering alert</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BS11_Camera_Tampering</name>
            <dataType>Boolean</dataType>
            <fieldText>Camera Tampering/Camera Not Working Alert alert</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BS12_Storage_HDD_full_Video_loss</name>
            <dataType>Boolean</dataType>
            <fieldText>Storage (HDD full, Video loss) alert</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BS6_Panic_button_alert</name>
            <dataType>Boolean</dataType>
            <fieldText>Panic button alert</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BS7_Motion_detector_alert</name>
            <dataType>Boolean</dataType>
            <fieldText>Motion detector alert</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BS8_Child_check_button_alert</name>
            <dataType>Boolean</dataType>
            <fieldText>Child check button alert</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BS9_Door_open_alert</name>
            <dataType>Boolean</dataType>
            <fieldText>Door open alert</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BS10_Driver_Seatbelt_Alert</name>
            <dataType>Boolean</dataType>
            <fieldText>Driver Seatbelt Alert</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BS13_Video_Live_streaming</name>
            <dataType>Boolean</dataType>
            <fieldText>Video Live streaming/Historical Playback</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ETI_Child_Detection_Sensor</name>
        <label>Child Detection Sensor</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Child_Check_Button</targetReference>
        </connector>
        <fields>
            <name>Child_Detection_Sensor</name>
            <fieldText>&lt;p&gt;Child Detection Sensor&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CDS1_Device_available_2_in_SBL_SBM_1_in_SBS</name>
            <dataType>Boolean</dataType>
            <fieldText>Device available (2 in SBL/SBM &amp; 1 in SBS)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CDS2_Internal_siren_working_when_Engine_Off</name>
            <dataType>Boolean</dataType>
            <fieldText>Internal siren working when Engine Off</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CDS3_Motion_sensor_is_active_if_child_check_button_Pressed</name>
            <dataType>Boolean</dataType>
            <fieldText>Motion sensor is active if child check button Pressed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CDS4_Be_on_the_bus_for_3_mins_without_movement_then_move</name>
            <dataType>Boolean</dataType>
            <fieldText>Be on the bus for 3 mins without movement, then move</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CDS5_Device_is_active_by_movement_small_red_lights</name>
            <dataType>Boolean</dataType>
            <fieldText>Device is active by movement &amp; small red lights</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CDS6_Internal_and_the_external_siren_operating</name>
            <dataType>Boolean</dataType>
            <fieldText>Internal and the external siren operating</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CDS7_Turn_the_engine_on_sensor_should_be_Off</name>
            <dataType>Boolean</dataType>
            <fieldText>Turn the engine on sensor should be Off</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CDS8_Engine_Off_all_devices_remain_active_Sleeping_Mode_for_15_minutes</name>
            <dataType>Boolean</dataType>
            <fieldText>Engine Off, all devices remain active (Sleeping Mode) for 15 minutes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Confirmation_Screen</name>
        <label>Final Confirmation</label>
        <locationX>50</locationX>
        <locationY>1958</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_work_order</targetReference>
        </connector>
        <fields>
            <name>final_confirmation_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(22, 189, 30); font-size: 16px;&quot;&gt;Are you sure, you want to submit. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(22, 189, 30); font-size: 16px;&quot;&gt;Please Verify before submitting, as checklist cannot be updated once Submitted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inspection_completion_Validation</name>
        <label>Inspection completion Validation</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Work_order_already_Completed_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(234, 25, 25);&quot;&gt;Inspection already completed. &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(234, 25, 25); background-color: rgb(255, 255, 255);&quot;&gt;checklist cannot be&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(234, 25, 25);&quot;&gt; Modified.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Internal_Siren</name>
        <label>Internal Siren</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ETI_Child_Detection_Sensor</targetReference>
        </connector>
        <fields>
            <name>section_1</name>
            <fieldText>&lt;p&gt;Internal Siren (Speaker)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ISiren1_Make_sure_the_device_available_installed</name>
            <dataType>Boolean</dataType>
            <fieldText>Make sure the device available &amp; installed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ISiren2_Ensure_that_it_s_properly_and_firmly_in_place</name>
            <dataType>Boolean</dataType>
            <fieldText>Ensure that it’s properly and firmly in place</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ISiren3_Device_alarm_light_sound_working_in_all_cameras</name>
            <dataType>Boolean</dataType>
            <fieldText>Device alarm (light/sound) working in all cameras</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ISiren4_Alarm_light_sound_working_if_emergency_button_Pressed</name>
            <dataType>Boolean</dataType>
            <fieldText>Alarm(light/sound) working if emergency button Pressed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ISiren5_Alarm_light_sound_working_if_engine_Off_directly</name>
            <dataType>Boolean</dataType>
            <fieldText>Alarm(light/sound) working if engine Off directly</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ISiren6_Alarm_light_sound_working_if_motion_detector_active</name>
            <dataType>Boolean</dataType>
            <fieldText>Alarm(light/sound) working if motion detector active</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LCD_Monitor_7</name>
        <label>LCD Monitor - 7&quot;</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>X4_Pcs_External_IP_Camera</targetReference>
        </connector>
        <fields>
            <name>ETI_LCD_Monitor</name>
            <fieldText>&lt;p&gt;LCD Monitor - 7&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LCD1_Monitor_is_available_and_installed_on_the_bus</name>
            <dataType>Boolean</dataType>
            <fieldText>Monitor is available and installed on the bus</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LCD2_Placed_in_front_of_driver_on_the_front_plate_of_bus</name>
            <dataType>Boolean</dataType>
            <fieldText>Placed in front of driver on the front plate of bus</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LCD3_external_cameras_appear_on_main_screen</name>
            <dataType>Boolean</dataType>
            <fieldText>4 external cameras appear on main screen</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LCD4_Select_show_mode_of_3_internal_cameras_on_main_screen_check_live_video</name>
            <dataType>Boolean</dataType>
            <fieldText>Select show mode of 3 internal cameras on main screen &amp; check live video</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LCD5_Reverse_bus_full_screen_appears_showing_backward_camera_BEEB_Sound</name>
            <dataType>Boolean</dataType>
            <fieldText>Reverse bus, full screen appears showing backward camera &amp; BEEB Sound</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MDVR_Firmware_Version</name>
        <label>MDVR Firmware Version</label>
        <locationX>50</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ETI_Back_End_System</targetReference>
        </connector>
        <fields>
            <name>ETI_MDVR_Firmware_Version</name>
            <fieldText>&lt;p&gt;MDVR Firmware Version&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MNVR_SerailNo</name>
            <fieldText>&lt;p&gt;MNVR Serial Number - &lt;strong&gt;{!currentworkorder.MNVR_Serial_No__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_MNVR_serial_number_matched</name>
            <dataType>Boolean</dataType>
            <fieldText>Is MNVR serial number matched?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MDVRF1_Please_write_the_version_of_MDVR_Take_a_Photo</name>
            <dataType>Boolean</dataType>
            <fieldText>Please make sure to take photos of the version of MNVR,Model No. and Serial No. at the end of this inspection.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MDVR_With_HDD_2TB</name>
        <label>MDVR With HDD 2TB</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Temp_Humidity_Sensor</targetReference>
        </connector>
        <fields>
            <name>ETI_MDVR_With_HDD_2TB</name>
            <fieldText>&lt;p&gt;MDVR With HDD 2TB&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MDVR1_Device_available_and_installed</name>
            <dataType>Boolean</dataType>
            <fieldText>Device available and installed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MDVR2_Installed_in_large_bus_behind_the_driver_s_seat_above_luggage_carrier</name>
            <dataType>Boolean</dataType>
            <fieldText>Installed in large bus behind the driver&#39;s seat above luggage carrier or Ensure that is properly installed in small buses / coaster only (under the front seat, right of the driver)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MDVR4_Device_Lights_1_2_on_top_in_red_6_7_8_in_blue</name>
            <dataType>Boolean</dataType>
            <fieldText>Ensure all light showing on MNVR or Panic Button Control Panel are working properly</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MDVR5_Can_Store_at_least_180_Days_and_storage_size_2_TB</name>
            <dataType>Boolean</dataType>
            <fieldText>Can store recording (Video/Audio/Alert/GPS) at least 180 days in storage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Panic_Button</name>
        <label>Panic Button</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LCD_Monitor_7</targetReference>
        </connector>
        <fields>
            <name>ETI_Panic_Button</name>
            <fieldText>&lt;p&gt;Panic Button&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PB1_Make_sure_device_is_available_and_installed</name>
            <dataType>Boolean</dataType>
            <fieldText>Make sure device is available and installed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PB2_Ensure_that_it_is_properly_and_firmly_in_place</name>
            <dataType>Boolean</dataType>
            <fieldText>Ensure that it is properly and firmly in place</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PB3_Device_works_by_having_4_buttons_on_the_device_lit_in_red</name>
            <dataType>Boolean</dataType>
            <fieldText>Panic button with or without LED lights (HDD,GPS,REC,VLoss,3G/4G)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PB4_Alarm_light_sound_through_the_internal_Siren</name>
            <dataType>Boolean</dataType>
            <fieldText>Alarm(light &amp; sound) through the internal (Siren)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scheduled_Status1</name>
        <label>Scheduled Status</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Lable1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Info&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Scheduled_Status</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please Accept the Request before starting the Inspection.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stop_Arm</name>
        <label>Stop Arm</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Electronic_Destination_Board</targetReference>
        </connector>
        <fields>
            <name>ETI_Stop_Arm</name>
            <fieldText>&lt;p&gt;Stop Arm&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SA1_Stop_arm_is_installed_on_the_bus</name>
            <dataType>Boolean</dataType>
            <fieldText>Stop arm is installed on the bus</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SA2_Stop_arm_working_manually_when_automatic_system_not_working</name>
            <dataType>Boolean</dataType>
            <fieldText>Stop arm working manually when automatic system not working</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SA3_Stop_arm_working_during_opening_or_closing_door</name>
            <dataType>Boolean</dataType>
            <fieldText>Stop arm working during opening or closing door</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SA4_Red_lights_in_front_and_behind_arm_turned_on_when_arm_open</name>
            <dataType>Boolean</dataType>
            <fieldText>Red lights in front and behind arm turned on when arm open</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Temp_Humidity_Sensor</name>
        <label>Temp. - Humidity Sensor</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stop_Arm</targetReference>
        </connector>
        <fields>
            <name>ETI_Temp_Humidity_Sensor</name>
            <fieldText>&lt;p&gt;Temp. - Humidity Sensor&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HS1_Device_is_available_installed_Out_of_reach_of_students_source_of_direct</name>
            <dataType>Boolean</dataType>
            <fieldText>Device is available &amp; installed Out of reach of students &amp; source of direct conditioning</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HS2_Device_displays_temperature_humidity</name>
            <dataType>Boolean</dataType>
            <fieldText>Device displays temperature &amp; humidity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>X3_Pcs_Internal_IP_Camera</name>
        <label>3 Pcs Internal IP Camera</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MDVR_With_HDD_2TB</targetReference>
        </connector>
        <fields>
            <name>ETI_3_Pcs_Internal_IP_Camera</name>
            <fieldText>&lt;p&gt;3 Pcs Internal IP Camera&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>INT1_X3_cameras_available_and_installed</name>
            <dataType>Boolean</dataType>
            <fieldText>3 cameras available and installed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>INT2_Ensure_its_properly_and_firmly_in_place</name>
            <dataType>Boolean</dataType>
            <fieldText>Ensure its properly and firmly in place</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>INT3_Siren_cameras_working_by_covering_each_camera_separately</name>
            <dataType>Boolean</dataType>
            <fieldText>Siren cameras working by covering each camera separately</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>INT4_After_Internal_Siren_stops_then_internal_cameras_work</name>
            <dataType>Boolean</dataType>
            <fieldText>After Internal Siren stops, then internal cameras work</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>X4_Pcs_External_IP_Camera</name>
        <label>4 Pcs External IP Camera</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>X3_Pcs_Internal_IP_Camera</targetReference>
        </connector>
        <fields>
            <name>X4_Pc_External_IP_Camera</name>
            <fieldText>&lt;p&gt;4 Pcs External IP Camera&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EXT1_Make_sure_4_cameras_are_available_installed</name>
            <dataType>Boolean</dataType>
            <fieldText>Make sure 4 cameras are available &amp; installed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EXT2_Properly_and_firmly_in_the_right_place</name>
            <dataType>Boolean</dataType>
            <fieldText>Properly and firmly in the right place</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EXT3_camera_images_appear_on_the_home_screen</name>
            <dataType>Boolean</dataType>
            <fieldText>4 camera images appear on the home screen</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EXT4_Make_sure_visibility_of_the_four_cameras_are_to_angles_of_view_assigned</name>
            <dataType>Boolean</dataType>
            <fieldText>Make sure visibility of the four cameras are to angles of view assigned</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EXT5_Reverse_camera_showing_back_of_bus_if_bus_in_reverse</name>
            <dataType>Boolean</dataType>
            <fieldText>Reverse camera showing back of bus if bus in reverse</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ETI_Get_Current_Work_Order_details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Query Current work order</description>
        <name>currentworkorder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
