unpackaged/main/default/flows/ETI_Handle_Error_log_operations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>ETI_Email_Error_Notification_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>send email to Admin</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>ET_Error_Logs__c.ETI_Email_Error_Notification_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ET_Error_Logs__c.ETI_Email_Error_Notification_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>ETI_notify_admin_when_appointment_not_created_after_successful_Booking</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>send emails to Admin</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>ET_Error_Logs__c.ETI_notify_admin_when_appointment_not_created_after_successful_Booking</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ET_Error_Logs__c.ETI_notify_admin_when_appointment_not_created_after_successful_Booking</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Module = Inspection FSL-Notify Appointment Details</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Module = &#39;Inspection FSL-workorder&#39;</label>
        </rules>
    </decisions>
    <description>Handle Error log operations</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[ET_Error_Logs__c].ET_Module__c != null &amp;&amp; [ET_Error_Logs__c].ET_Module__c  == &#39;Inspection FSL-Notify Appointment Details&#39;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.ET_Module__c} != null &amp;&amp; {!myVariable_current.ET_Module__c}  == &#39;Inspection FSL-Notify Appointment Details&#39;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[ET_Error_Logs__c].ET_Module__c != null &amp;&amp; [ET_Error_Logs__c].ET_Module__c  == &#39;Inspection FSL-workorder&#39;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.ET_Module__c} != null &amp;&amp; {!myVariable_current.ET_Module__c}  == &#39;Inspection FSL-workorder&#39;</expression>
    </formulas>
    <interviewLabel>ETI_Handle_Error_log_operations-3_InterviewLabel</interviewLabel>
    <label>Handle Error log operations</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>ET_Error_Logs__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ET_Error_Logs__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ET_Error_Logs__c</objectType>
    </variables>
</Flow>
