unpackaged/main/default/flows/ETT_PurchaseOrderProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>ETT_CheckPOHasNumber</name>
        <label>ETT_CheckPOHasNumber</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PONumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Oracle_PO_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCollectionCard</targetReference>
            </connector>
            <label>PONumber</label>
        </rules>
    </decisions>
    <interviewLabel>ETT_PurchaseOrderProcess {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ETT_PurchaseOrderProcess</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateCollectionCard</name>
        <label>UpdateCollectionCard</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ETT_Collection_Card__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PO_Number__c</field>
            <value>
                <elementReference>$Record.Oracle_PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>ETT_Collection_Card__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ETT_CheckPOHasNumber</targetReference>
        </connector>
        <object>ETT_Purchase_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
