unpackaged/main/default/flows/ETT_PricingInformationProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Hoo_Email_Notification</name>
        <label>Hoo Email Notification</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>ETT_Pricing_Information__c.ETT_PricingInformationPriceChangeAlert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ETT_Pricing_Information__c.ETT_PricingInformationPriceChangeAlert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <constants>
        <name>FMProfile</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ETT_Factory Manager</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Price_Change_Decision</name>
        <label>Price Change Decision</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FM_Price_Change_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ETT_Purchase_Price__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FMProfile</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hoo_Email_Notification</targetReference>
            </connector>
            <label>FM Price Change Action</label>
        </rules>
    </decisions>
    <interviewLabel>ETT_PricingInformationProcess {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ETT_PricingInformationProcess</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Price_Change_Decision</targetReference>
        </connector>
        <object>ETT_Pricing_Information__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
