unpackaged/main/default/flows/Flow_of_Account_Sites_And_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Flow of Account Sites And Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow of Account Sites And Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_Sites</name>
        <label>Create Account Sites</label>
        <locationX>622</locationX>
        <locationY>541</locationY>
        <inputAssignments>
            <field>ETSALES_Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETSALES_Address__c</field>
            <value>
                <elementReference>Create_Addresses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETSALES_Business_Purpose__c</field>
            <value>
                <stringValue>BILL_TO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETSALES_Operating_unit__c</field>
            <value>
                <stringValue>a2x8E000001hPFiQAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETSALES_Site_Payment_Terms__c</field>
            <value>
                <stringValue>Immediate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETSALES_Site_Profile_Class__c</field>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </inputAssignments>
        <object>ETSALES_Account_Sites__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Addresses</name>
        <label>Create  Addresses</label>
        <locationX>620</locationX>
        <locationY>406</locationY>
        <connector>
            <targetReference>Create_Account_Sites</targetReference>
        </connector>
        <inputAssignments>
            <field>ETSALES_Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETSALES_Address1__c</field>
            <value>
                <stringValue>Dubai</stringValue>
            </value>
        </inputAssignments>
        <object>ETSALES_Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Create_Addresses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ETSALES_Account_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MOTO</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
