unpackaged/main/default/flows/JBSystemFlow_ET_Service_Request_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj7e041190a8907ec1eced0785ad8a4f4c_FireJBTrigger</name>
        <label>SalesforceObj7e041190a8907ec1eced0785ad8a4f4c_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjffd85a2d08cc38ef3d8b6e18ffddf258</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjffd85a2d08cc38ef3d8b6e18ffddf258</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;OwnerId&quot;,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;isPolymorphic&quot;:true,&quot;referenceObjectName&quot;:&quot;User&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>ET_Service_Request__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj7e041190a8907ec1eced0785ad8a4f4c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>510000495</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;ET_Account__r&quot;,&quot;dePrefix&quot;:&quot;ET_Service_Request__c:ET_Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;ET_Service_Request__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;ETST_Status__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;ETST_Student__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;ETST_Student__r&quot;,&quot;dePrefix&quot;:&quot;ET_Service_Request__c:ETST_Student__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;ETST_Student_Id__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;ET_Service_Request__c:Owner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjffd85a2d08cc38ef3d8b6e18ffddf258_FireJBTrigger</name>
        <label>SalesforceObjffd85a2d08cc38ef3d8b6e18ffddf258_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;OwnerId&quot;,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;isPolymorphic&quot;:true,&quot;referenceObjectName&quot;:&quot;User&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>ET_Service_Request__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjffd85a2d08cc38ef3d8b6e18ffddf258</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>510000495</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;ET_Account__r&quot;,&quot;dePrefix&quot;:&quot;ET_Service_Request__c:ET_Account__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;ET_Service_Request__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;ETST_Student__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;ETST_Student__r&quot;,&quot;dePrefix&quot;:&quot;ET_Service_Request__c:ETST_Student__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;ETST_Student_Id__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;ET_Service_Request__c:Owner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj7e041190a8907ec1eced0785ad8a4f4c</name>
        <label>JB_Decision_Null_Check_SalesforceObj7e041190a8907ec1eced0785ad8a4f4c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjffd85a2d08cc38ef3d8b6e18ffddf258</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj7e041190a8907ec1eced0785ad8a4f4c_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Owner_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Owner_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjffd85a2d08cc38ef3d8b6e18ffddf258</targetReference>
            </connector>
            <label>JB_SalesforceObj7e041190a8907ec1eced0785ad8a4f4c_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj7e041190a8907ec1eced0785ad8a4f4c_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7e041190a8907ec1eced0785ad8a4f4c_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj7e041190a8907ec1eced0785ad8a4f4c_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjffd85a2d08cc38ef3d8b6e18ffddf258</name>
        <label>JB_Decision_Null_Check_SalesforceObjffd85a2d08cc38ef3d8b6e18ffddf258</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjffd85a2d08cc38ef3d8b6e18ffddf258_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Owner_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Owner_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjffd85a2d08cc38ef3d8b6e18ffddf258_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjffd85a2d08cc38ef3d8b6e18ffddf258_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjffd85a2d08cc38ef3d8b6e18ffddf258_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjffd85a2d08cc38ef3d8b6e18ffddf258_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj7e041190a8907ec1eced0785ad8a4f4c_Decision</name>
        <label>JB_SalesforceObj7e041190a8907ec1eced0785ad8a4f4c_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjffd85a2d08cc38ef3d8b6e18ffddf258</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj7e041190a8907ec1eced0785ad8a4f4c</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0123z000000Z5i6AAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj7e041190a8907ec1eced0785ad8a4f4c_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj7e041190a8907ec1eced0785ad8a4f4c</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj7e041190a8907ec1eced0785ad8a4f4c_State_change_Decision</name>
        <label>JB_SalesforceObj7e041190a8907ec1eced0785ad8a4f4c_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjffd85a2d08cc38ef3d8b6e18ffddf258</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj7e041190a8907ec1eced0785ad8a4f4c</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0123z000000Z5i6AAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7e041190a8907ec1eced0785ad8a4f4c_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj7e041190a8907ec1eced0785ad8a4f4c</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjffd85a2d08cc38ef3d8b6e18ffddf258_Decision</name>
        <label>JB_SalesforceObjffd85a2d08cc38ef3d8b6e18ffddf258_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjffd85a2d08cc38ef3d8b6e18ffddf258</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0123z000000Z5i6AAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjffd85a2d08cc38ef3d8b6e18ffddf258_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjffd85a2d08cc38ef3d8b6e18ffddf258</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_ET_Service_Request_c</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Owner_User_lookup</name>
        <label>Owner_User_lookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj7e041190a8907ec1eced0785ad8a4f4c</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>new_object.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>Owner_User</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Owner_User_lookup</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ET_Service_Request__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ET_Service_Request__c</objectType>
    </variables>
    <variables>
        <name>Owner_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
