unpackaged/main/default/flows/Lead_Moto_SendEmail_SMS_AppointmentBooked.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancelled_Email_Alert</name>
        <label>Cancelled Email Alert</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>Lead.Moto_Lead_AppointmentCancelled</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Moto_Lead_AppointmentCancelled</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Confirmation_Email_Alert</name>
        <label>Confirmation Email Alert</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>Lead.Moto_Lead_AppointmentConfirmation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Moto_Lead_AppointmentConfirmation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Reschedule_Email_Alert</name>
        <label>Reschedule Email Alert</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <actionName>Lead.Moto_Lead_AppointmentReschedule</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Moto_Lead_AppointmentReschedule</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_to_Customer</name>
        <label>Send SMS to Customer</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <actionName>Moto_SendSMS_LeadAppointmentCreation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Lead_Appointment_Booking_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>smsRelRecIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Moto_SendSMS_LeadAppointmentCreation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Lead_Appointment_Booking_Status</name>
        <label>Lead Appointment Booking Status</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_Email_Alert</targetReference>
            </connector>
            <label>Confirmed</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancelled_Email_Alert</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
        <rules>
            <name>Rescheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rescheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reschedule_Email_Alert</targetReference>
            </connector>
            <label>Rescheduled</label>
        </rules>
    </decisions>
    <description>Send SMS and Email to Customer when appointment is booked,Cancelled and Rescheduled</description>
    <environments>Default</environments>
    <interviewLabel>Lead_Moto_SendEmail_SMS_AppointmentBooked {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead_Moto_SendEmail_SMS_AppointmentBooked</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_SMS_to_Customer</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Appointment_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Appointment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Appointment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Appointment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rescheduled</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
