unpackaged/main/default/flows/Lead_Moto_WelcomeEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Moto_LeadWelcomeAlert</name>
        <label>Moto_LeadWelcomeAlert</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>Lead.MOTO_LeadWelcomeEmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_SMS_API_Call</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.MOTO_LeadWelcomeEmailAlert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_API_Call</name>
        <label>Send SMS - API Call</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>Moto_SendSMS_LeadCreation</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>smsRelRecIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Moto_SendSMS_LeadCreation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Moto_LeadWelcomeAlert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead_Moto_WelcomeEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Moto_LeadWelcomeAlert</targetReference>
        </connector>
        <filterFormula>({!$Record.RecordType.DeveloperName} == &#39;Moto_Service_Center_Body_Shop&#39; || {!$Record.RecordType.DeveloperName} == &#39;Moto_Dealership_Vehicle_Purchase&#39; || {!$Record.RecordType.DeveloperName} == &#39;Moto_Dealership_Vehicle_Inquiry_Trade_In&#39; ) &amp;&amp;  NOT(ISBLANK({!$Record.Email}))</filterFormula>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
