unpackaged/main/default/flows/Notify_to_Manager_and_get_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Submit_for_Approval</name>
        <label>Copy 1 of Submit for Approval</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval1</name>
        <label>Submit for Approval</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Copy_1_of_Notify_to_Manager_and_get_Approval</name>
        <label>Copy 1 of Notify to Manager and get Approval</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Police_Report_Attached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Journey_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Police Report Attached</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Journey_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Journey_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval</targetReference>
            </connector>
            <label>Police Report Attached</label>
        </rules>
        <rules>
            <name>Prove_Theft_Report_Attached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Journey_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prove Theft Report Attached</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval1</targetReference>
            </connector>
            <label>Prove Theft Report Attached</label>
        </rules>
        <rules>
            <name>NOC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Journey_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Submit_for_Approval</targetReference>
            </connector>
            <label>NOC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notify_to_Manager_and_get_Approval</name>
        <label>Notify to Manager and get Approval</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Journey_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Journey_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Police Report Attached</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Journey_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prove Theft Report Attached</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Journey_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Notify_to_Manager_and_get_Approval</targetReference>
            </connector>
            <label>Journey Status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Notify to Manager and get Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify to Manager and get Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Notify_to_Manager_and_get_Approval</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Journey_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Police Report Attached</stringValue>
            </value>
        </filters>
        <filters>
            <field>Journey_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prove Theft Report Attached</stringValue>
            </value>
        </filters>
        <filters>
            <field>Journey_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NOC</stringValue>
            </value>
        </filters>
        <object>Correction_Cancel_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recepts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
