unpackaged/main/default/flows/Payment_Remainder_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Payment_14_days</name>
        <label>Payment 14 days</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <actionName>Account.Payment_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.ET_Account__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Payment_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Payment_7_days</name>
        <label>Payment 7 days</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>Account.Payment_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.ET_Account__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Payment_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>if_Exists</name>
        <label>if Exists</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_Not_Sucessfull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ETST_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Payment success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_7_days</targetReference>
            </connector>
            <label>Payment Not Sucessfull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_if_Exists</name>
        <label>Payment if Exists</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_delay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ETST_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Payment success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_14_days</targetReference>
            </connector>
            <label>Payment delay</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Payment Remainder Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Remainder Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ETST_Student__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>null</stringValue>
            </value>
        </filters>
        <filters>
            <field>ETST_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service Confirmed</stringValue>
            </value>
        </filters>
        <object>ET_Service_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X7_Days</name>
            <connector>
                <targetReference>if_Exists</targetReference>
            </connector>
            <label>7 Days</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X14_days</name>
            <connector>
                <targetReference>Payment_if_Exists</targetReference>
            </connector>
            <label>14 days</label>
            <maxBatchSize>14</maxBatchSize>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
