unpackaged/main/default/flows/Salik_Cost_creation_based_on_Sector.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Sector</name>
        <label>Sector</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>opp_Sector</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.ETSALES_Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transport And Lease</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SalikCost</targetReference>
            </connector>
            <label>opp Sector</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OnetimeCost</name>
        <dataType>Number</dataType>
        <expression>50/{!$Record.ET_Contract_Period__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalSpec</name>
        <dataType>Number</dataType>
        <expression>{!$Record.ET_Total_Special_Requirement_Cost__c}+50</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Salik Cost creation based on Sector {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Salik Cost creation based on Sector</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sector</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SalikCost</name>
        <label>Create SalikCost</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
        <inputAssignments>
            <field>ET_Api_Name__c</field>
            <value>
                <stringValue>Salik Card Cost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ET_Cost__c</field>
            <value>
                <elementReference>OnetimeCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ET_Vehicle_Quote_Item__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Salik Card cost</stringValue>
            </value>
        </inputAssignments>
        <object>ET_Quote_Item_SpecReq__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <inputAssignments>
            <field>ET_Total_Special_Requirement_Cost__c</field>
            <value>
                <elementReference>TotalSpec</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ET_Vehicle_Condition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>ET_Vehicle_Quote_Item__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
