unpackaged/main/default/flows/TestAccountProfileFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assignInProgressSum</name>
        <label>assignInProgressSum</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>InProgessSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverInProgressOpp.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverInProgressOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToVariables</name>
        <label>AssignToVariables</label>
        <locationX>264</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>SumOfAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverOppList.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverOppList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CalculateCount</name>
        <label>CalculateCount</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>wonOppCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetOppRecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notWonOppCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetOppInProgressStageList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverInProgressOpp</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>TestAccountProfileFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TestAccountProfileFlow</label>
    <loops>
        <name>LoopOverInProgressOpp</name>
        <label>LoopOverInProgressOpp</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <collectionReference>GetOppInProgressStageList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignInProgressSum</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopOverOppList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverOppList</name>
        <label>LoopOverOppList</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <collectionReference>GetOppRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignToVariables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetOppInProgressStageList</name>
        <label>GetOppInProgressStageList</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CalculateCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ETSALES_Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOppRecords</name>
        <label>GetOppRecords</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOppInProgressStageList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ETSALES_Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecord</name>
        <label>UpdateRecord</label>
        <locationX>176</locationX>
        <locationY>1367</locationY>
        <inputAssignments>
            <field>Completed_Projects_Value__c</field>
            <value>
                <elementReference>SumOfAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Projects_Value__c</field>
            <value>
                <elementReference>InProgessSum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Completed_Projects__c</field>
            <value>
                <elementReference>wonOppCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Current_Projects__c</field>
            <value>
                <elementReference>notWonOppCount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOppRecords</targetReference>
        </connector>
        <object>ETSALES_Account_Profile__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>InProgessSum</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>notWonOppCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SumOfAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>wonOppCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
