unpackaged/main/default/flows/Trainer_Email_alert_notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Alert_to_Trainer</name>
        <label>Send Email Alert  to Trainer</label>
        <locationX>499</locationX>
        <locationY>371</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_EMail_to_Record_Creator</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Trainer__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@et.ae</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Booking Request Scheduled | {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailtoTrainer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_EMail_to_Record_Creator</name>
        <label>Send EMail to Record Creator</label>
        <locationX>499</locationX>
        <locationY>479</locationY>
        <actionName>ETDI_Booking_Request__c.ETDI_Booking_Request_Approval_Rejection_Notification_to_record_creator</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Status_is_Approved</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ETDI_Booking_Request__c.ETDI_Booking_Request_Approval_Rejection_Notification_to_record_creator</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Status_is_Approved</name>
        <label>Status is Approved</label>
        <locationX>499</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ETDI_Trainer_Schedule_Record</targetReference>
            </connector>
            <label>Status Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Trainer Email alert notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trainer Email alert notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>create a record in  ETDI Trainer Schedule</description>
        <name>Create_ETDI_Trainer_Schedule_Record</name>
        <label>Create ETDI Trainer Schedule Record</label>
        <locationX>367</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Booking_Request__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_Date_Time__c</field>
            <value>
                <elementReference>$Record.Requested_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trainer__c</field>
            <value>
                <elementReference>$Record.Trainer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ETDI_Trainer_Schedules__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Send_Email_Alert_to_Trainer</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 2 ) AND 3</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Trainer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ETDI_Booking_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BookingRequestURL</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;LEFT($Api.Partner_Server_URL_260, FIND( &#39;/services&#39;, $Api.Partner_Server_URL_260))&amp;amp;&quot;/&quot;&amp;amp;&lt;/span&gt;{!$Record.Id}                           &lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailtoTrainer</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear  {!$Record.Trainer__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;       The Booking request {!$Record.Name}  has been scheduled on {!$Record.Requested_Date__c} and {!$Record.Status__c}. Please navigate to the request through the link provided for further  details.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Comments : &lt;/strong&gt;{!$Record.ETDI_Approver_Comments__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Record Link: &lt;/strong&gt; &lt;a href=&quot;{!BookingRequestURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Booking Request URL&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
