unpackaged/main/default/flows/Update_Case_Records_Account_Profile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Here we store the all case Ids which is releted to the Account</description>
        <name>Store_Case_Id</name>
        <label>Store Case Id</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>AccountCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Records_Related_to_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckCaseIsNew</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Here we check if all cases are new or cases have changed</description>
        <name>CheckCaseIsNew</name>
        <label>CheckCaseIsNew</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTotal_Complaints</targetReference>
            </connector>
            <label>Is New Case</label>
        </rules>
        <rules>
            <name>Is_new_Case_UpdateOrChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_When_Staus_Change</targetReference>
            </connector>
            <label>Is new Case UpdateOrChanged</label>
        </rules>
    </decisions>
    <description>Update the case Record from Account Profile</description>
    <environments>Default</environments>
    <formulas>
        <name>AddCase</name>
        <dataType>Number</dataType>
        <expression>{!Get_Case_Records_Related_to_Account.Total_Complaints__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IsNewCase</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>SubtractOpenCase</name>
        <dataType>Number</dataType>
        <expression>{!Get_Case_Records_Related_to_Account.No_of_Open_Complaints__c}-1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Case Records Account Profile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case Records Account Profile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Records_Related_to_Account</name>
        <label>Get Case Records Related to Account</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Case_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ETSALES_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Plan_From__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Plan_To__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ETSALES_Account_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_When_Staus_Change</name>
        <label>Update When Staus Change</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_of_Open_Complaints__c</field>
            <value>
                <elementReference>SubtractOpenCase</elementReference>
            </value>
        </inputAssignments>
        <object>ETSALES_Account_Profile__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTotal_Complaints</name>
        <label>UpdateTotal Complaints</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_of_Open_Complaints__c</field>
            <value>
                <elementReference>AddCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Complaints__c</field>
            <value>
                <elementReference>AddCase</elementReference>
            </value>
        </inputAssignments>
        <object>ETSALES_Account_Profile__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Records_Related_to_Account</targetReference>
        </connector>
        <filterFormula>ISNEW()|| (ISPICKVAL({!$Record.Status},&#39;Solution Completed&#39;)&amp;&amp; ISCHANGED({!$Record.Status}))</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
