unpackaged/main/default/flows/Update_Count_of_Opportunity_on_Account_Profile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Account_Profile_Id_Captures</name>
        <label>Account Profile Id Captures</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>AccountProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Records_Of_Account_Profile.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Wethr_New_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CurrentProjectValue</name>
        <label>CurrentProjectValue</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>StoreTheAmountOfOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountTheAmpNewOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAPNotClosed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Wethr_New_Opportunity</name>
        <label>Check Wethr New Opportunity</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCondition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CurrentProjectValue</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
        <rules>
            <name>Is_Stage_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAPClosed</targetReference>
            </connector>
            <label>Is Stage-Closed Won</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AddNoCompletd</name>
        <dataType>Number</dataType>
        <expression>{!Fetch_Records_Of_Account_Profile.No_of_Completed_Projects__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AddOppAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Fetch_Records_Of_Account_Profile.Completed_Projects_Value__c}+{!$Record.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>In this case we add project plus one</description>
        <name>AddProject</name>
        <dataType>Number</dataType>
        <expression>{!Fetch_Records_Of_Account_Profile.No_of_Current_Projects__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CountTheAmpNewOpp</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount}+{!Fetch_Records_Of_Account_Profile.Current_Projects_Value__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewCondition</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NoOfClosedWon</name>
        <dataType>Number</dataType>
        <expression>{!Fetch_Records_Of_Account_Profile.No_of_Current_Projects__c}-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SubtractOppAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Fetch_Records_Of_Account_Profile.Current_Projects_Value__c}-{!$Record.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Count of Opportunity on Account Profile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Count of Opportunity on Account Profile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>get the records  from opportunity which is associated with  Account Profile</description>
        <name>Fetch_Records_Of_Account_Profile</name>
        <label>Fetch  Records Of Account Profile</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Profile_Id_Captures</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ETSALES_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Plan_From__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Plan_To__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ETSALES_Account_Profile__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAPClosed</name>
        <label>UpdateAPClosed</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountProfileId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completed_Projects_Value__c</field>
            <value>
                <elementReference>AddOppAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Projects_Value__c</field>
            <value>
                <elementReference>SubtractOppAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Completed_Projects__c</field>
            <value>
                <elementReference>AddNoCompletd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Current_Projects__c</field>
            <value>
                <elementReference>NoOfClosedWon</elementReference>
            </value>
        </inputAssignments>
        <object>ETSALES_Account_Profile__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAPNotClosed</name>
        <label>UpdateAPNotClosed</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountProfileId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Projects_Value__c</field>
            <value>
                <elementReference>StoreTheAmountOfOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Current_Projects__c</field>
            <value>
                <elementReference>AddProject</elementReference>
            </value>
        </inputAssignments>
        <object>ETSALES_Account_Profile__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Records_Of_Account_Profile</targetReference>
        </connector>
        <filterFormula>ISNEW() || (ISPICKVAL({!$Record.StageName}, &#39;Closed Won&#39;) &amp;&amp; ISCHANGED({!$Record.StageName}))</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountOpp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>StoreTheAmountOfOpp</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
