unpackaged/main/default/flows/Updating_case_Owner_based_on_Dispute_Reason.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assgn_owner</name>
        <label>assgn owner</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_owners.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updating_case_filds</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Dispute_Reason</name>
        <label>check Dispute Reason</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>when_Delay_in_Vehicle_Delivery_T_L</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DisputeReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addendum Not Signed (T&amp;L)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Dispute_Account_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_owners</targetReference>
            </connector>
            <label>when Delay in Vehicle Delivery (T&amp;L)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Updating case Owner based on Dispute Reason {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Updating case Owner based on Dispute Reason</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_owners</name>
        <label>get owners</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assgn_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Dispute_Account_Manager__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updating_case_filds</name>
        <label>updating case filds</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.Dispute_Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_Dispute_Reason</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>caseOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
