unpackaged/main/default/flows/User_Terms_and_Conditions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Logout_User</name>
        <label>Logout User</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_for_New_User</name>
        <label>Check for New User</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>If_user_not_accepted_T_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Is_Terms_and_conditions_Accepted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Terms_and_Conditions</targetReference>
            </connector>
            <label>If user not accepted T&amp;C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Accpeted</name>
        <label>Is Accpeted</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Logout_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAccepted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Info</targetReference>
            </connector>
            <label>Is Accepted</label>
        </rules>
    </decisions>
    <interviewLabel>User Terms and Conditions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Terms and Conditions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Assgin_Mobile_User_Permission_Set</name>
        <label>Assgin Mobile User Permission Set</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>Logged_In_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <stringValue>0PS3z000000mVz2GAE</stringValue>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>To show terms and conditions</description>
        <name>Logged_In_User</name>
        <label>Logged In User</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_New_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Info</name>
        <label>Update User Info</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Assgin_Mobile_User_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Terms_and_conditions_Accepted__c</field>
            <value>
                <elementReference>IsAccepted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_out_Marketing_Emails__c</field>
            <value>
                <elementReference>Opt_out_Marketing_Emails</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Terms_and_Conditions</name>
        <label>Terms and Conditions</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Accpeted</targetReference>
        </connector>
        <fields>
            <name>terms</name>
            <fieldText>&lt;p&gt;Please read our&lt;span style=&quot;color: rgb(30, 40, 189);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;http://et.force.com/userterms&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(30, 40, 189);&quot;&gt;Terms and conditions &lt;/a&gt;&lt;a href=&quot;https://et.force.com/userterms&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt; &lt;/a&gt;and &lt;a href=&quot;http://et.force.com/privacypolicy&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(30, 40, 189);&quot;&gt;Privacy Policy&lt;/a&gt; before accepting.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IsAccepted</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you agree Terms and Conditions?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please accept terms and conditions to user the services&lt;/p&gt;</errorMessage>
                <formulaExpression>{!IsAccepted}==True</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Opt_out_Marketing_Emails</name>
            <dataType>Boolean</dataType>
            <fieldText>Opt out Marketing Emails from ET</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Logged_In_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IsAccpeted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
